// Color
//
// Colors:
// --darkgray: rgb(37, 41, 53) - Dark Gray
// --purple: rgb(125, 59, 106) - Purple
// --cobalt: rgb(0, 121, 140) - Cobalt
// --crimson: rgb(208, 55, 17) - Crimson
// --goldenrod: rgb(246, 174, 45) - Goldenrod
// --icewhite: rgb(248, 245, 242) - Ice White
//
// Weight: 1
//
// Styleguide: Color


:root {
  --darkgray: rgb(37, 41, 53);
  --purple: rgb(125, 59, 106);
  --cobalt: rgb(0, 121, 140);
  --crimson: rgb(208, 55, 17);
  --goldenrod: rgb(246, 174, 45);
  --icewhite: rgb(248, 245, 242);
}
