// Card
//
// A card includes content and a call to action.
//
// Markup: card.twig
//
// Weight: 4
//
// Styleguide: Card

.card {
  --card-width: max(25ch, 50%);
  --card-padding: 1em;
  --card-border-color: var(--purple);

  width: var(--card-width);
  padding: var(--card-padding);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-padding);

  :is( h2, h3, h4 ):first-child {
    margin-top: 0;
  }
}
