// Card
//
// A card includes content and a call to action.
//
// Markup: card.twig
//
// Weight: 4
//
// Styleguide: Card

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: var(--card-width, max(25ch, 50%));
  padding: var(--card-padding, 1em);
  border: 1px solid var(--card-border-color, var(--color-secondary));
  border-radius: var(--card-border-radius, 1em);

  :is( h2, h3, h4 ):first-child {
    margin-block: 0;
  }
}
