:root {
  --body-text: var(--color-foreground);
  --body-bg: var(--color-background);
  --font-family: 'Public Sans', Helvetica, Arial, sans-serif;
}

* { box-sizing: border-box; }

body {
  background-color: var(--body-bg);
  color: var(--body-text);
  font-family: var(--font-family);
}
