{%- set header_aria_label = header_aria_label | default( "global site" ) -%}

{%- set site_logo -%}
  <span class="fas {{site_logo_icon}}" aria-hidden="true"></span>
{%- endset -%}

<header class="header" aria-label="{{header_aria_label}}">
  <h1 class="site-title">
    {%- include "@link/link.twig" with {
      link_text: site_logo ~ site_title,
      link_url: site_url
    } -%}
  </h1>
</header>
